extends ../layouts/application.pug

block content
  table.table.table-striped
    thead
      tr
        th= t('views.users.id')
        th= t('views.users.fullName')
        th= t('views.users.email')
        th= t('views.users.createdAt')
        th
    tbody
      each user in users
        tr
          td= user.id
          td= user.fullName()
          td= user.email
          td= formatDate(user.createdAt)
          td 
            a(class='btn btn-link p-0' href=route('editUser', { id: user.id })) Edit
            form(action=route('deleteUser', { id: user.id }), method="post")
              input(name="_method" type="hidden" value="delete")
              input(class='btn btn-link p-0' type='submit' value='Delete')
