extends ../layouts/application.pug

block content
  table.table.table-striped
    thead
      tr
        th= t('views.users.index.id')
        th= t('views.users.index.fullName')
        th= t('views.users.index.email')
        if isAuthenticated()
          th= 'creator'
          th= 'executor'
        th= t('views.users.index.createdAt')
        th
    tbody
      each user in users
        tr
          td= user.id
          td= user.fullName()
          td= user.email
          if isAuthenticated()
            td
              each task in user.taskCreator
                div #{task.name}
            td
              each task in user.taskExecutor
                div #{task.name}
          td= formatDate(user.createdAt)
          td 
            a(class='btn btn-link p-0' href=route('editUser', { id: user.id }))= t('views.users.index.edit')
            form(action=route('deleteUser', { id: user.id }), method="post")
              input(name="_method" type="hidden" value="delete")
              input(class='btn btn-link p-0' type='submit' value=t('views.users.index.delete'))
