extends ../layouts/application.pug

block content
  a(href=route('newStatus') class="nav-link")= t('views.statuses.index.create')
  if statuses.length > 0
    table.table.table-hover
      thead
        tr
          th= t('views.statuses.index.id')
          th= t('views.statuses.index.name')
          th= t('views.statuses.index.tasks')
          th= t('views.statuses.index.createdAt')
          th
      tbody
        each status in statuses
          tr
            td= status.id
            td= status.name
            td
              each task in status.tasks
                div #{task.name}
            td= formatDate(status.createdAt)
            td
              a(class='btn btn-link p-0' href=route('editStatus', { id: status.id }))= t('views.statuses.index.edit')
              form(action=route('deleteStatus', { id: status.id }), method="post")
                input(name="_method" type="hidden" value="delete")
                input(class='btn btn-link p-0' type='submit' value=t('views.statuses.index.delete'))

