extends ../layouts/application.pug

block header
  = t('views.tasks.edit.title')

block content
  form(action=route('patchTask', { id: task.id }) method='post')

    +input(task, 'name', errors, t('views.tasks.edit.name'))(type="text")

    input(name="_method" type="hidden" value="patch")

    .form-group
        label(for="data_description")= t('views.tasks.edit.description')
        textarea.form-control(id="data_description" name="data[description]" rows="3")= task.description
    
    .form-group
        label(for="data_statusId")= t('views.tasks.edit.status')
        select(id="data_statusId" name="data[statusId]" class=`form-control ${!errors.statusId ? '' : 'is-invalid'}`)
          option
          each status in statuses
            if status.id === task.statusId
              option(value=status.id selected) #{status.name}
            else
              option(value=status.id) #{status.name}
        if errors.statusId
          .form-control-feedback.invalid-feedback= errors.statusId.map(({ message }) => message).join('. ')

    .form-group
        label(for="data_executorId")= t('views.tasks.edit.executor')
        select.form-control(id="data_executorId" name="data[executorId]")
          option
          each executor in executors
            option(value=executor.id selected=executor.id === task.executorId) #{executor.fullName()}

    .form-group
        label(for="data_labels")= t('views.tasks.new.labels')
        select(id="data_labels" name="data[labels]" class='form-control' multiple)
          each label in labels
            option(value=label.id selected=task && task.labels.map((i) => i.id).includes(label.id)) #{label.name}

    .form-group
      input(class='btn btn-primary' type='submit' value=t('views.tasks.edit.submit'))
