extends ../layouts/application.pug

block content
  a(href=route('newTask'))= 'Create task'
  if tasks.length > 0
    table.table.table-hover
      thead
        tr
          th= 'id'
          th= 'name'
          th= 'status'
          th= 'creator'
          th= 'executor'
          th= 'createdAt'
          th
      tbody
        each task in tasks
          tr
            td= task.id
            td
              a(href=`/tasks/${task.id}`)= task.name
            td= task.status.name
            td= task.creator.fullName()
            td= task.executor ? task.executor.fullName() : '-'
            td= task.createdAt.toLocaleString()
            td
              a(class='btn btn-link p-0' href=route('editTask', { id: task.id })) Edit
              form(action=route('deleteTask', { id: task.id }), method="post")
                input(name="_method" type="hidden" value="delete")
                input(class='btn btn-link p-0' type='submit' value='Delete')
