extends ../layouts/application.pug

block content

  a(href=route('newTask') class="nav-link")= t('views.tasks.index.create')

  .card
    .card-body.p-2.bg-light
      +formFor()(action=route('tasks') method='get')
        .form-row
          .form-group.col-md-4
            label(for="data_status")= t('views.tasks.index.filter.status')
            select(id="data_status" name="status" class=`form-control`)
              option
              each status in statuses
                option(value=status.id selected=status.id == filter.status) #{status.name}
          .form-group.col-md-4
            label(for="data_executor")= t('views.tasks.index.filter.executor')
            select(id="data_executor" name="executor" class='form-control')
              option
              each executor in executors
                option(value=executor.id selected=executor.id == filter.executor) #{executor.fullName()}
          .form-group.col-md-4
            label(for="data_label")= t('views.tasks.index.filter.label')
            select(id="data_label" name="label" class='form-control')
              option
              each label in labels
                option(value=label.id selected=label.id == filter.label) #{label.name}
        .form-group
          .form-check
            input.form-check-input(id="data_isCreatorUser" type="checkbox" name="isCreatorUser" checked=filter.isCreatorUser)
            label.form-check-label(for="data_isCreatorUser")= t('views.tasks.index.filter.checkbox')

        +submit()(value=t('views.tasks.index.filter.submit'))


  if tasks.length > 0
    table.table.table-striped
      thead
        tr
          th= t('views.tasks.index.id')
          th= t('views.tasks.index.name')
          th= t('views.tasks.index.status')
          th= t('views.tasks.index.creator')
          th= t('views.tasks.index.executor')
          th= t('views.tasks.index.createdAt')
          th
      tbody
        each task in tasks
          tr
            td= task.id
            td
              a(href=`/tasks/${task.id}`)= task.name
            td= task.status.name
            td= task.creator.fullName()
            td= task.executor ? task.executor.fullName() : '-'
            td= task.createdAt.toLocaleString()
            td
              a(class='btn btn-link p-0' href=route('editTask', { id: task.id }))= t('views.tasks.index.edit')
              form(action=route('deleteTask', { id: task.id }), method="post")
                input(name="_method" type="hidden" value="delete")
                input(class='btn btn-link p-0' type='submit' value=t('views.tasks.index.delete'))
