extends ../layouts/application.pug

block header
  = 'New task'

block content
  +formFor()(action=route('tasks') method='post')

    +input(task, 'name', errors)(type="text")

    .form-group
        label(for="data_description")= 'task description'
        textarea(id="data_description" name="data[description]" class='form-control' rows="3")= task.description || ''

    .form-group
        label(for="data_statusId")= 'task statuses'
        select(id="data_statusId" name="data[statusId]" class=`form-control ${!errors.statusId ? '' : 'is-invalid'}`)
          option
          each status in statuses
            if status.id === task.statusId
              option(value=status.id selected) #{status.name}
            else
              option(value=status.id) #{status.name}
        if errors.statusId
          .form-control-feedback.invalid-feedback= errors.statusId.map(({ message }) => message).join('. ')

    .form-group
        label(for="data_executorId")= 'task executor'
        select(id="data_executorId" name="data[executorId]" class='form-control')
          option
          each executor in executors
            option(value=executor.id selected=executor.id === task.executorId) #{executor.fullName()}
    
    +submit(task)(value='submit')

