extends ../layouts/application.pug

block content
  .card
    .card-header.bg-secondary.text-white
      h2= task.name
    .card-body.bg-light
      p= task.description
      hr
      .container
        .row.p-1
          .col= 'creator'
          .col= task.creator.fullName()
        .row.p-1
          .col= 'executor'
          .col= task.executor.fullName()
        .row.p-1
          .col= 'status'
          .col= task.status.name
        .row.p-1
          .col= 'createdAt'
          .col= task.createdAt.toLocaleString()
        .row.p-1
          .col
            a(class='btn btn-link p-0' href=route('editTask', { id: task.id })) Edit
            form(action=route('deleteTask', { id: task.id }), method="post")
              input(name="_method" type="hidden" value="delete")
              input(class='btn btn-link p-0' type='submit' value='Delete')
